# Application Config
PORT=80

# Database Credentials
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/chatdb?schema=public"

# JWT Access Key
JWT_ACCESS_SECRET="super-secret-access-key-change-in-production"
JWT_ACCESS_EXPIRATION="15m"

# JWT Refresh Key
JWT_REFRESH_SECRET="super-secret-refresh-key-change-in-production"
JWT_REFRESH_EXPIRATION="7d"